/* companies.css */

.companies-container {
  max-width: 500px;
  margin: 2em auto;
  padding: 2em;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.companies-container h2 {
  text-align: center;
  color: #fefcfc;
  margin-bottom: 1.5em;
  font-size: 1.8em;
}

.company-card {
  padding: 1.5em;
  background: #f7f9fc;
  border-radius: 8px;
  margin-bottom: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-info {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.company-info label {
  font-weight: bold;
  color: #555;
  margin-right: 10px;
  width: 35%;
}

.company-info p {
  flex: 1;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  background-color: #fff;
  margin: 0;
}

.job-listings-link {
  text-align: center;
  margin-top: 1em;
}

.job-listings-link a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.job-listings-link a:hover {
  text-decoration: underline;
}
